.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
}

#header-div {
  background-image: url('../public/header.png');
  background-size: cover;
  background-position: right;
  min-height: 30vh;
  justify-content: center;
}

#profile-image-div {
  height:20vh;
  width:20vh;
  background-image: url('../public/profile.jpg');
  border-radius: 50%;
  border: inset 2px rgba(213, 176, 42, 1);
}

#link-tree-div {
  justify-content: space-around;
  background-image: url('../public/div-bckgrnd.png');
  background-color: white;
  background-size: cover;
  height:40vh;
}

#profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-container {
  width: 50vh;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-style: inset;
}

.overlay {
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-div {
  position: relative;
}

p.title {
  color:white;
  
  background-color: rgba(0, 0, 0, 0.5);
  padding-right:.2em;
  padding-left:.2em;
  font-size: calc(3em);
  font-family: 'Bebas Neue', sans-serif;
}

button {
  background: none;
  border: 2px solid white;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color:white;
  transition: 0.25s;
  perspective: 230px;
  cursor:pointer;
}

p {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

p.button-text {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

button:hover, 
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0; }
}

.profile-text-container {
  width: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em
}

.attributes-container{
  display: flex;
  flex-direction: column;
  width:fit-content;
  height: 1.5em;
  overflow: hidden;
}

.attributes-text{
  animation: switch 7s infinite;
}

@keyframes switch {
  0%{
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-47px);

  }
  75% {
    transform: translateY(-25px);
  }
}